
<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div >
  <% if @items %>
  <h3>Name: <%=@items.first["name"]%></h3><br>
  <%= link_to "#{@items.first["html_url"]}", @items.first["html_url"] %> <br>
  <p>
    Decription: <%=  @items.first["description"] %>
  </p>
</div>
<% end %> 
