<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
  <% if @error %>
    Error: <%= @error %>!
  <% elsif @search == [] %>
    Error: Invalid Search Request!
  <% elsif @search%>
    <ul>
    <% @search.each do |repo| %>
      <li>
        Link: <%= link_to "#{repo["html_url"]}", repo["html_url"] %><br>
        Name: <%= repo["name"] %><br>
        Description: <%= repo["description"] %><br><br>
      </li>
      <% end %>
  <% end %>
  </ul>
</div>
