<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
  <% if @error %>
    <p><%= @error %></p>
  <% elsif @items %>  <br><br>

  <% @items.each do |item| %>
    Name: <%= item["name"] %><br>
    Owner: <%= item["owner"]["login"] %><br>
    Description: <%= item["description"] %><br>
    Github Url: <%= link_to item["html_url"], item["html_url"]%>
    <br><br>
    <% end %>
    <% end %>
    <br><br>

</div>
