<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<% if @body %>

<br></br>
<%= @body["items"][0]["name"]%>
<%= link_to @body["items"][0]["html_url"], @body["items"][0]["html_url"]%>
<%= @body["items"][0]["description"] %>
<%end%>
