<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @error %>
  There was an Error: <%= @error %>
<% elsif @items %>
  <ul>
  <% @items.each do |item| %>
    Name: <%= item["name"] %> <br>
    Summary: <%= item["description"] %> <br>
    Link: <%= link_to "#{item["html_url"]}", item["html_url"] %> <br>
  <% end %>
  </ul>
<% end %>
